#sub{

	top: 15%;
	right: 10%;
	left: 10%;
	width: 80%;
	height: 70%;

	position: absolute;
	background-color: white;
}
#sub h3{

text-align: center;
}
input{
	margin-bottom: 25px;
}

select{
	margin-bottom: 25px;
}
.page1{

padding : 20px;
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: white;
z-index: 1;
}